@model PB_PETS.Models.UsuarioPerfilModel

<h5>Editar Perfil</h5>

<div >
        <div class="card" style="width: 38rem;margin-bottom:24px;position:relative;">
            
               @if (@Model.foto==null || Model.foto == "")
                {
                    
                    @using(Html.BeginForm("putFoto","Usuario", FormMethod.Post, new { enctype="multipart/form-data"}))
        {
                      <div style="display:flex;height:300px;align-items:center;justify-content:center;flex-direction:column">
                        @Html.TextBox("file", "", new {  type= "file"}) <br />        
                        <input  name="id" style="display:none;" value="@Model.Id"/>
                            <br/>
                        <button type="submit" class="btn btn-primary" style="margin-top:34px;">Atualizar</button>
                        @ViewBag.Message
                    </div>
                   }
                }
                else
                {   
                    <div>
                           <form action="/usuario/deleteFoto" method="post" style="position:absolute;top:0;right:0;">  
                                    <input name="Id" value=@Model.Id style="display:none;"/>
                                <button type="submit" class="btn btn-danger">Deletar</button>
                            </form>
                    <img class="card-img-top" src=@Model.foto alt="image profile">
                    </div>
                }
           
          <div class="card-body">
            <form action="/usuario/EditarPerfil" method="post">
                <input value=@Model.Id name="Id" style="display:none;"/>
                <div class="form-group">
                    <label for="exampleInputEmail1">Nome</label>
                    <input value=@Model.nome class="form-control" name ="nome" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Sobrenome</label>
                    <input  value=@Model.sobrenome class="form-control" name ="sobrenome" aria-describedby="emailHelp" placeholder="Enter email">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" value=@Model.email class="form-control" name ="email" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Telefone</label>
                    <input value=@Model.telefone class="form-control" name ="telefone" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Endereco</label>
                    <input value=@Model.endereco class="form-control" name ="endereco" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
              <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
            <h5 class="card-title">@Model.nome @Model.sobrenome</h5>
           
          </div>
        </div>
</div>