@model PB_PETS.Models.UsuarioPerfilModel

<h5>Perfil</h5>

<div >
        <div class="card" style="width: 38rem;margin-bottom:24px;">
               @if (@Model.foto!=null && Model.foto!="")
                {
                    <img class="card-img-top" src=@Model.foto alt="image profile"/>
                }
                else
                {   
                <img class="card-img-top" src="https://png.pngtree.com/png-vector/20190710/ourlarge/pngtree-user-vector-avatar-png-image_1541962.jpg" alt="image profile">
                }
}
          <div class="card-body">
              <div style="display:flex;flex-direction:row;justify-content:space-between;">
                  <h5 class="card-title">@Model.nome @Model.sobrenome</h5>
              @if (@Model.isMine ==false)
            {
                if (@Model.isSolicitado)
                {
                    if (@Model.isAmigo)
                    {
                        <form action="/amizade/recusar" method="post">
                            <input name="Id" value=@Model.idAmizade  style="display:none;"/>
                            <button class="btn btn-danger" style="margin-right:12px">Desfazer amizade</button>
                        </form>
                    }
                    else
                    {
                        <h6>Amizade solicitada</h6>
                    }
                }
                else
                {
                    <form action="/amizade/Adicionar" method="post">
                         <input style="display:none;" name="Id" value="@Model.Id" />
                         <button type="submit" class="btn btn-primary">Adicionar</button>
                    </form>

                }
            }
            else
            {
                <div style="display:flex;">
                    <a href="/usuario/editarSenha" style="margin-right:12px;"> Editar senha</a>
                 <a href="/usuario/editarperfil?id=@Model.Id">Editar Perfil</a>
                 </div>
            }
            
            </div>
            <div style='display:flex;flex-direction:row;justify-content:space-between;align-items:center;margin-bottom:12px;'>
                <h6 class="card-title">@Model.email</h6>
                <p>@Model.telefone</p>
                <p>@Model.endereco</p>

            </div>
          </div>
        </div>
</div>