@model IEnumerable<PB_PETS.Models.PublicacaoUsuarioModel>

<h5>Listar Publicacoes</h5>

@using(Html.BeginForm("Publicar","Publicacao", FormMethod.Post, new { enctype="multipart/form-data"}))
{
      <div class="form-group" style="margin-bottom:84px;width:100%">
        @Html.TextBox("file", "", new {  type= "file"}) <br />        
        <label for="texto">Escreva o texto</label>
        <input  name="texto" class="form-control" id="exampleInputEmail1" placeholder="O que esta pensando?">
            <br/>
        <button type="submit" class="btn btn-primary" style="margin-top:34px;">Publicar</button>
        @ViewBag.Message
    </div>
}

<f@*orm action="/publicacao/publicar" method="post">  
    <div class="form-group" style="margin-bottom:84px;width:100%">
        <label for="texto">Escreva o texto</label>
        
    </div>
</form>*@

<div >
    @if(@Model.Count() == 0)
    {
        <h2 style="margin-top:180px;">nao ha publicacoes</h2>
    }
    @foreach (var publicacao in Model)
    {
            <div class="card" style="width: 38rem;margin-bottom:24px;">
                @if (@publicacao.isMine != false)
                {
                    <form action="/publicacao/Deletar" method="post" style="position:absolute;top:0;right:0;">  
                        <input name="Id" value=@publicacao.idPublicacao  style="display:none;"/>
                    <button type="submit" class="btn btn-danger">Deletar</button>
                </form>
            }
          <img class="card-img-top" src=@publicacao.foto alt="Card image cap">
          <div class="card-body">
              
            <div style="display:flex; align-items:center;">
                    @if(@publicacao.fotoUsuario != null && @publicacao.fotoUsuario != "")
                    {
                        <img src=@publicacao.fotoUsuario style="height:40px;width:40px;border-radius:25px;margin-right:12px"/>
                    }
                <h5 class="card-title"><a href="/usuario/perfil?id=@publicacao.idUsuario">@publicacao.nome </a></h5>
            </div>

            <div style='display:flex;flex-direction:row;justify-content:space-between;align-items:center;margin-bottom:12px;'>
                <h6 class="card-title">@publicacao.curtidas Curtidas</h6>
                <form action="/publicacao/Curtir" method="post">  
                    <input name="Id" value=@publicacao.idPublicacao  style="display:none;"/>
                    <button type="submit" class="btn btn-dark">Curtir</button>
                </form>
            </div>
            <p class="card-text">@publicacao.texto</p>
          </div>
          <span style="margin-left:12px;">Comentarios:</span>
          <ul class="list-group list-group-flush">
             @foreach (var comentario in publicacao.comentarios)
                {
                    <li class="list-group-item"><strong><a href="/usuario/perfil?id=@comentario.idUsuario">@comentario.nome</a></strong>   @comentario.texto</li>
                }
          </ul>
            <form action="/publicacao/comentar" method="post">  
                <div class="form-group" style="display:flex;flex-direction:column;align-items:center;">
                   
                    <input  name="idPublicacao" value=@publicacao.idPublicacao style="display:none;">
                    <input  name="texto" class="form-control" id="exampleInputEmail1" placeholder="Novo comentario" style="margin-top:12px;">
                </div>
                <button type="submit" class="btn btn-primary">Comentar</button>
            </form>
        </div>
    }
</div>