@model AmizadeList

  <h2 style="margin-bottom:20px;margin-top:30px;">Novas Amizades: @Model.novasAmizades.Count()</h2>
      @foreach (var novaAmizade in Model.novasAmizades)
    {
        <div style="padding:8px;display:flex;align-items:center; border:1px solid black;">
            <form action="/amizade/aceitar" method="post">
                <input name="Id" value=@novaAmizade.Id  style="display:none;"/>
                <span style="margin-right:12px"><strong>@novaAmizade.nome @novaAmizade.sobrenome</strong> Quer te adicionar!</span>
                <button class="btn btn-primary" style="margin-right:12px">Adicionar</button>
            </form>
            <form action="/amizade/recusar" method="post">
                <input name="Id" value=@novaAmizade.Id  style="display:none;"/>
                <button class="btn btn-danger" style="margin-right:12px">Recusar</button>
            </form>
        </div>

    }
<h5>Listar Publicacoes de amigos</h5>

@using(Html.BeginForm("Publicar","Publicacao", FormMethod.Post, new { enctype="multipart/form-data"}))
{
      <div class="form-group" style="margin-bottom:84px;width:100%">
        @Html.TextBox("file", "", new {  type= "file"}) <br />        
        <label for="texto">Escreva o texto</label>
        <input  name="texto" class="form-control" id="exampleInputEmail1" placeholder="O que esta pensando?">
            <br/>
        <button type="submit" class="btn btn-primary" style="margin-top:34px;">Publicar</button>
        @ViewBag.Message
    </div>
}

<div > 
  
  
    @foreach (var publicacao in Model.postsAmigos)
    {
        <div class="card" style="width: 38rem;margin-bottom:24px;">
            @if(@publicacao.isMine != false)
            {
                <form action="/publicacao/Deletar" method="post" style="position:absolute;top:0;right:0;">  
                    <input name="Id" value=@publicacao.idPublicacao  style="display:none;"/>
                    <button type="submit" class="btn btn-danger">Deletar</button>
                </form>
            }
            @if (@publicacao.foto!= "" && @publicacao.foto != null)
            {
                <img class="card-img-top" src=@publicacao.foto alt="Card image cap">
            }
          <div class="card-body">
              <div style="display:flex; align-items:center;">
                    @if(@publicacao.fotoUsuario != null && @publicacao.fotoUsuario != "")
                    {
                        <img src=@publicacao.fotoUsuario style="height:40px;width:40px;border-radius:25px;margin-right:12px"/>
                    }
                <h5 class="card-title"><a href="/usuario/perfil?id=@publicacao.idUsuario">@publicacao.nome </a></h5>
            </div>

            <div style='display:flex;flex-direction:row;justify-content:space-between;align-items:center;margin-bottom:12px;'>
                <h6 class="card-title">@publicacao.curtidas Curtidas</h6>
                <form action="/publicacao/Curtir" method="post">  
                    <input name="Id" value=@publicacao.idPublicacao  style="display:none;"/>
                    <button type="submit" class="btn btn-dark">Curtir</button>
                </form>
            </div>
            <p class="card-text">@publicacao.texto</p>
          </div>
          <span style="margin-left:12px;">Comentarios:</span>
          <ul class="list-group list-group-flush">
             @foreach (var comentario in publicacao.comentarios)
                {
                    <li class="list-group-item">   
                        @if(@comentario.foto != null && @comentario.foto != "")
                            {                                
                                <img src=@comentario.foto style="height:20px;width:20px;border-radius:25px;margin-right:6px"/>
                            }
                        <strong><a href="/usuario/perfil?id=@comentario.idUsuario">@comentario.nome</a></strong>   @comentario.texto</li>
                }
          </ul>
            <form action="/publicacao/comentar" method="post">  
                <div class="form-group" style="display:flex;flex-direction:column;align-items:center;">
                   
                    <input  name="idPublicacao" value=@publicacao.idPublicacao style="display:none;">
                    <input  name="texto" class="form-control" id="exampleInputEmail1" placeholder="Novo comentario" style="margin-top:12px;">
                </div>
                <button type="submit" class="btn btn-primary">Comentar</button>
            </form>
        </div>
    }
</div>